CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

bin/

*.obj
*.lib
*.dll

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.vs/

external/glfw
external/assimp
external/spdlog